p{
  font-family: courier;
  font-size: 140%;
  color: white;
  font-weight: 500;
}

.grid{
    display: flex;
    background: url(C:\Users\shubh\OneDrive\Desktop\Nikita_Assignment\src\img1.jpg)no-repeat center center/cover;
    width: 30vw;
    height:50vh;
    border: 4px solid #949294;
    border-radius: 0.3in;
    align-items: center;
    justify-content: center;
}
@media (max-width:767px) {
    .Container{
        flex-direction: column;
    }   
    .grid{
        width:75vw;
        height:35vh;
    } 
}
.Leftboxcss{
    padding: 10%;
}